table, th, td {
    border: 1px solid #729292;
    border-collapse: collapse;
    padding: 5px;
}

th {
    background-color: #2e3b3b;
}

/*
tr:hover, th:hover, td:hover {
    background-color: #769090;
}
*/

tr:nth-child(odd) {
    background-color: #4a5f5f;
}

tr:nth-child(even) {
    background-color: #2e3b3b;
}